.breadcrum{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 152px;
    text-transform: capitalize;
}